<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/style.css">
    <title>高中语文课程思政教学库</title>
    <meta name="description" content="高中语文课程思政教学库" />
    <meta property="og:description" content="高中语文课程思政教学库" />
    <meta property="og:site_name" content="高中语文课程思政教学库" />
    <meta property="og:type" content="website" />
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
      <div class="nav">
        <input type="checkbox" id="nav-check">
        <div class="nav-header">
          <div class="nav-title">
            {{ site.title | default: site.github.repository_name }}
          </div>
        </div>
        <div class="nav-btn">
          <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
          </label>
        </div>
        <div class="nav-links">
          <a href="/">首页</a>
          <a href="/pages/theory.html">课程思政</a>
          <a href="/pages/resources.html">教学资源</a>
          <a href="/pages/contact.html">建议留言</a>
          <a href="/pages/team.html">团队介绍</a>
        </div>
      </div>
      <header class="inner">
        <div id="header_bg">
          <div class="inner">
            <div id="site-title">
              <!-- <h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1> -->
              <h1 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h1>
            </div>
          </div>
        </div>
      </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">©2023 高中语文课程思政教学库团队</p>
      </footer>
    </div>
  </body>
</html>
